                /* html,
        body {
            background: #171717;
            max-width: 62.5vw;
        }
        
        .logo {
            left: 230px;
            top: 46px;
            height: 33px;
            position: fixed;
        }
        
        .phone-number {
            left: 1270px;
            top: 50px;
            position: fixed;
            width: 163px;
            height: 29px;
            font-family: 'Circe';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 29px;
            color: #FFFFFF;
        }
        
        .phone-number span {
            color: #D6AF76
        }
        
        .btn {
            box-sizing: border-box;
            width: 218px;
            height: 50px;
            left: 1472px;
            top: 37px;
            border: 1px solid #E4B564;
            position: fixed;
            padding-left: 26px;
            padding-top: 10px;
        }
        
        img.vector {
            left: 6.25%;
            right: 12.77%;
            top: 6.52%;
            bottom: 12.5%;
            position: absolute;
        }
        
        .link {
            width: 144px;
            height: 30px;
            left: 1521px;
            top: 47px;
            font-family: 'Circe';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
            color: #E4B564;
            text-decoration: none;
            padding-left: 10px;
        }
        
        .head-section {
            width: 1091px;
            height: 100%;
            display: flex;
        }
        
        
        
        .Infrastructure {
            width: 1182px;
            height: 56px;
            left: 230px;
            top: 276px;
            font-family: 'Gilam';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 28px;
            color: #FFFFFF;
            position: absolute;
        }
        
        .grid {
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
            width: 467px;
            height: 468px;
            grid-gap: 34px;
            grid-template-areas: "item1 item2 item3" "item 4 item 4 item5 item5";
        }
        
        .grid>div {
            font-family: 'Gilam';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 28px;
            color: #FFFFFF;
            text-align: center;
        }
        
        .item1 {
            width: 467px;
            height: 468px;
            left: 230px;
            top: 373px;
            background: #634F2C;
            position: absolute;
            text-align: center;
        }
        
        .item2 {
            position: absolute;
            width: 467px;
            height: 468px;
            left: 731px;
            top: 373px;
            background: #B4A385;
        } */
                
                *,
                *:before,
                *:after {
                    padding: 0;
                    margin: 0;
                    border: 0;
                    box-sizing: border-box;
                }
                
                body {
                    background-color: #171717;
                    width: 1920px;
                    height: 4000px;
                }
                
                .container {
                    margin: 0px auto;
                }
                
                .logo {
                    left: 230px;
                    top: 46px;
                    height: 33px;
                    position: absolute;
                }
                
                .phone-number {
                    left: 1270px;
                    top: 50px;
                    position: absolute;
                    width: 163px;
                    height: 29px;
                    font-family: 'Circe';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 29px;
                    color: #FFFFFF;
                }
                
                .phone-number span {
                    color: #D6AF76
                }
                
                .btn {
                    box-sizing: border-box;
                    width: 218px;
                    height: 50px;
                    left: 1472px;
                    top: 37px;
                    border: 1px solid #E4B564;
                    position: fixed;
                    padding-left: 26px;
                    padding-top: 10px;
                    position: absolute;
                }
                
                img.vector {
                    left: 6.25%;
                    right: 12.77%;
                    top: 6.52%;
                    bottom: 12.5%;
                    position: absolute;
                }
                
                .link {
                    width: 144px;
                    height: 30px;
                    left: 1521px;
                    top: 47px;
                    font-family: 'Circe';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 30px;
                    color: #E4B564;
                    text-decoration: none;
                    padding-left: 10px;
                }
                
                .main-section {
                    min-height: 100%;
                }
                
                .first-container {
                    max-width: 100%;
                    margin: 0px auto;
                }
                
                .title {
                    position: absolute;
                    width: 599px;
                    height: 28px;
                    left: 230px;
                    top: 207px;
                    font-family: 'Gilam';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 50px;
                    line-height: 28px;
                    color: #FFFFFF;
                }
                
                .Infrastructure {
                    width: 1182px;
                    height: 56px;
                    left: 230px;
                    top: 276px;
                    font-family: 'Gilam';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 28px;
                    color: #FFFFFF;
                    position: absolute;
                }
                
                .grid {
                    display: grid;
                    grid-template-rows: 1fr 1fr;
                    grid-template-columns: 1fr 1fr 1fr;
                    width: 467px;
                    height: 468px;
                    grid-gap: 34px;
                    grid-template-areas: "item1 item2 item3" "item 4 item 4 item5 item5";
                }
                
                .grid>div {
                    font-family: 'Gilam';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 28px;
                    color: #FFFFFF;
                    text-align: center;
                }
                
                .item1 {
                    width: 467px;
                    height: 468px;
                    left: 230px;
                    top: 373px;
                    background: #634F2C;
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                
                .item2 {
                    position: absolute;
                    width: 467px;
                    height: 468px;
                    left: 731px;
                    top: 373px;
                    background: #B4A385;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-left: 44px;
                    padding-right: 43px;
                }
                
                .item3 {
                    position: absolute;
                    width: 467px;
                    height: 468px;
                    left: 1223px;
                    top: 373px;
                    background: #E4B564;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                
                .item4 {
                    position: absolute;
                    width: 715px;
                    height: 468px;
                    left: 230px;
                    top: 868px;
                    background: #635A4A;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                
                .item5 {
                    position: absolute;
                    width: 715px;
                    height: 468px;
                    left: 975px;
                    top: 868px;
                    background: #B08C4D;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                
                .first-container {
                    max-width: 100%;
                    margin: 0px auto;
                    position: absolute;
                }
                
                .title-1 {
                    position: absolute;
                    width: 977px;
                    height: 28px;
                    left: 230px;
                    top: 1497px;
                    font-family: 'Gilam';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 50px;
                    line-height: 28px;
                    color: #FFFFFF;
                }
                
                .flex-container {
                    display: flex;
                }
                
                .box {
                    text-align: center;
                    position: absolute;
                    width: 302px;
                    height: 50px;
                    left: 282px;
                    top: 1663px;
                    display: flex;
                    justify-content: start;
                    align-items: start;
                    font-style: normal;
                    font-size: 20px;
                    line-height: 25px;
                    color: #FFFFFF;
                    font-family: 'Gilam';
                }
                
                .box-1 {
                    position: absolute;
                    width: 467px;
                    height: 313px;
                    left: 230px;
                    top: 1619px;
                    background: #0E0E0E;
                    padding-left: 52px;
                    padding-top: 44px;
                    padding-right: 113px;
                    padding-bottom: 219px;
                    flex-direction: column;
                }
                
                .box-1 span {
                    font-weight: 400;
                }
                
                .box-2 {
                    font-weight: 400;
                    position: absolute;
                    width: 467px;
                    height: 439px;
                    left: 727px;
                    top: 1619px;
                    background: #242424;
                    padding-left: 51px;
                    padding-right: 114px;
                    padding-top: 44px;
                    padding-bottom: 345px;
                    flex-direction: column;
                }
                
                .box-3 {
                    position: absolute;
                    width: 467px;
                    height: 255px;
                    left: 1223px;
                    top: 1619px;
                    background: #1F1F1F;
                    padding: 44px 117px 186px 48px;
                }
                
                .box-4 {
                    position: absolute;
                    width: 467px;
                    height: 560px;
                    left: 230px;
                    top: 1956px;
                    background: #1F1F1F;
                    padding: 56px 113px 479px 52px;
                }
                
                .box-5 {
                    position: absolute;
                    width: 467px;
                    height: 405px;
                    left: 726px;
                    top: 2091px;
                    font-weight: 500;
                    background: #E4B564;
                    padding: 47px 113px 333px 52px;
                    color: #000000;
                }
                
                .box-6 {
                    position: absolute;
                    width: 467px;
                    height: 313px;
                    left: 1223px;
                    top: 1900px;
                    background: #0E0E0E;
                    padding: 44px 117px 244px 48px;
                }
                
                .box-7 {
                    position: absolute;
                    width: 467px;
                    height: 277px;
                    left: 1223px;
                    top: 2239px;
                    background: #0A0909;
                    padding: 44px 117px 208px 48px;
                }
                /* .end {
                        min-height: 100%;
                        position: absolute;
                        width: 1920px;
                        height: 1054px;
                        left: -2px;
                        top: 2707.19px;
                        background: #0E0E0E;
                        background-color: cover;
                    }
                    
                    .clients-and-projects {
                        width: 1920px;
                        margin: 0px auto;
                    } */
                
                .clients-and-projects {
                    background-color: #0E0E0E;
                    width: 1920px;
                    height: 1054px;
                    left: -2px;
                    top: 2707.19px;
                    position: absolute;
                }
                
                .title-2 {
                    height: 28px;
                    left: 228px;
                    top: 2879.19px;
                    font-family: 'Gilam';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 50px;
                    line-height: 28px;
                    color: #FFFFFF;
                    padding-top: 172px;
                    padding-left: 230px;
                }
                
                .projects {
                    box-sizing: border-box;
                    width: 180px;
                    height: 50px;
                    left: 1508px;
                    top: 2868.19px;
                    border: 1px solid #E4B564;
                    margin-left: 1510px;
                    margin-right: 230px;
                    margin-bottom: 843px;
                    padding-top: 10px;
                    padding-left: 40px;
                }
                
                .projects span {
                    height: 30px;
                    left: 1548px;
                    top: 2878.19px;
                    font-family: 'Circe';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 30px;
                    color: #E4B564;
                    text-align: center;
                }
                
                .flex-container-1 {
                    display: flex;
                    width: 1920px;
                    height: 1054px;
                }
                
                .flexbox-1 {
                    position: absolute;
                    width: 487px;
                    height: 391px;
                    left: 228px;
                    top: 2979.19px;
                    background: #634F2C;
                    align-items: center;
                    justify-content: center;
                }
                
                .EID {
                    width: 185px;
                    height: 49px;
                    left: 379px;
                    top: 3150.19px;
                    background: url(image.png);
                }
                
                .flexbox-2 {
                    position: absolute;
                    width: 486px;
                    height: 391px;
                    left: 715px;
                    top: 2979.19px;
                    background: rgba(232, 210, 171, 0.76);
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                }
                
                .ball {
                    width: 62px;
                    height: 55px;
                    left: 932px;
                    top: 3040.19px;
                    background: url(image.png);
                }
                
                .mavis {
                    width: 139px;
                    height: 55px;
                    left: 888px;
                    top: 3098.19px;
                    background: url(image.png);
                }
                
                .jobs {
                    width: 326px;
                    height: 140px;
                    left: 795px;
                    top: 3169.19px;
                    font-family: 'Gilam';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 22px;
                    line-height: 28px;
                    /* or 127% */
                    text-align: center;
                    color: #FFFFFF;
                    padding-top: 16px;
                }
                
                .flexbox-3 {
                    position: absolute;
                    width: 487px;
                    height: 391px;
                    left: 1201px;
                    top: 2979.19px;
                    background: #E4B564;
                    align-items: center;
                    justify-content: center;
                }
                
                .arsenal {
                    width: 190px;
                    height: 42px;
                    left: 1350px;
                    top: 3153.19px;
                    background: url(image.png);
                }
                
                .flexbox-4 {
                    position: absolute;
                    width: 487px;
                    height: 391px;
                    left: 228px;
                    top: 3370.19px;
                    background: #635A4A;
                    align-items: center;
                    justify-content: center;
                }
                
                .arsenal-estate {
                    width: 190px;
                    height: 42px;
                    left: 377px;
                    top: 3544.19px;
                    background: url(image.png);
                }
                
                .flexbox-5 {
                    position: absolute;
                    width: 486px;
                    height: 391px;
                    left: 715px;
                    top: 3370.19px;
                    background: #B08C4D;
                    justify-content: center;
                    align-items: center;
                }
                
                .vector-set-group {
                    left: 0%;
                    right: 56.5%;
                    top: 0.95%;
                    bottom: 0.95%;
                }
                
                .vector-set-group-1 {
                    left: 6.76%;
                    right: 81.28%;
                    top: 24.87%;
                    bottom: 42.48%;
                    margin-left: -45px;
                    margin-top: -9px;
                }
                
                .vector-set-group-2 {
                    left: 19.83%;
                    right: 69.74%;
                    top: 33.01%;
                    bottom: 42.48%;
                    margin-top: -5px;
                }
                
                .vector-set-group-3 {
                    left: 31.03%;
                    right: 61.89%;
                    top: 26.26%;
                    bottom: 42.48%;
                    margin-top: -9px;
                }
                
                .vector-set-group-4 {
                    left: 40.39%;
                    right: 56.51%;
                    top: 21.96%;
                    bottom: 43.01%;
                    margin-top: -11px;
                    padding-left: 2px;
                }
                
                .vector-set-group-5 {
                    left: 45.28%;
                    right: 42.55%;
                    top: 24.87%;
                    bottom: 42.47%;
                    margin-top: -9px;
                    padding-left: 2px;
                }
                
                .vector-set-group-6 {
                    left: 59.71%;
                    right: 34.2%;
                    top: 33.01%;
                    bottom: 42.94%;
                    margin-top: -6px;
                    padding-left: 2px;
                }
                
                .vector-set-group-7 {
                    left: 66.64%;
                    right: 23%;
                    top: 33.01%;
                    bottom: 42.48%;
                    margin-top: -6px;
                }
                
                .vector-set-group-8 {
                    left: 78.5%;
                    right: 12.16%;
                    top: 33.47%;
                    bottom: 42.47%;
                    margin-top: -6px;
                    padding-left: 2px;
                }
                
                .vector-set-group-9 {
                    left: 90.07%;
                    right: 0%;
                    top: 33.01%;
                    bottom: 35.35%;
                    margin-top: -2px;
                    padding-left: 2px;
                }
                
                .flexbox-6 {
                    position: absolute;
                    width: 487px;
                    height: 391px;
                    left: 1201px;
                    top: 3370.19px;
                    background: #634F2C;
                    align-items: center;
                    justify-content: center;
                }
                
                .EIDdev {
                    width: 185px;
                    height: 49px;
                    left: 1352px;
                    top: 3541.19px;
                    background: url(image.png);
                }